<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add name="AUTOPARTSConnectionString" connectionString="Data Source=SAMSUNGLEO\SQLEXPRESS;Initial Catalog=AUTOPARTS;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />    
      </assemblies>
    </compilation>
  </system.web>
    <system.webServer>
      <defaultDocument enabled="true">
                <files>
                      <clear/>
                      <add value="login.aspx"/>
                </files>
         </defaultDocument>
      <directoryBrowse enabled="true" />
      <modules runAllManagedModulesForAllRequests="true"></modules>        
    </system.webServer>
</configuration>

